<section class="home ">
    <div class="container-fluid">
        <div class="header pt-3">
            <div class="top-head d-flex justify-content-between">
                <div class="ring-1 m-3" @slideFadeDown>
                    <img src="../../../assets/priv-photo.png" alt
                        class=" my-photo">
                </div>
                <div class="icons" @slideFadeUp>
                    <div class="pt-4 d-flex align-items-center">
                        <a
                            href="https://www.linkedin.com/in/eslamzayed/"
                            target="_blank" class="icon "><i
                                class="fa-brands fa-linkedin-in"></i></a>
                        <a href="https://github.com/eslamzayed22"
                            target="_blank" class="icon"><i
                                class="fa-brands fa-github"></i></a>
                        <a href="mailto:eslamzayed765@gmail.com"
                            target="_blank" class="icon"><i
                                class="fa-brands fa-google"></i></a>
                        <a href="https://www.facebook.com/eslame.zayed/"
                            target="_blank" class="icon "><i
                                class="fa-brands fa-facebook"></i></a>
                        <a
                            href="https://www.instagram.com/eslamzayed22/"
                            target="_blank" class="icon "><i
                                class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="info-contnet" >
                    <div class="my-info" @slideFadeDown>
                        <h2 class="text-white">Eslam Zayed</h2>
                        <p class="location text-second mb-1"><i class="fa-solid fa-location-dot fs-6"></i>
                            Egypt</p>
                        <p class="text-second">A Front-End Angular Developer with a strong foundation in building dynamic and responsive web applications</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center gap-4 bg-main rounded-pill  my-4">
                        <div class="d-flex justify-content-center  align-items-center gap-2">
                            <span class="online-dot bg-success"></span>
                            <span class="text-sm text-zinc-400">Online</span>
                        </div>
                        <span class="text-white">•</span>
                        <a href="mailto:eslamzayed765@gmail.com" target="_blank" class="d-flex justify-content-around align-items-center">
                            <i class="fa-solid fa-envelope me-2"></i>
                            <p class="m-0">Email</p>
                        </a>
                    </div>
                </div>
                <h5 class="text-white pt-2 mb-3">Tech Stack</h5>
                <div class="row g-2 skills ">
                    <div class="col-4">
                        <p class="bg-skills text-center "><i
                                class="fa-brands pe-2 fa-angular"></i>Angular</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center "><i
                                class="fa-brands pe-2 fa-js"></i>JavaScript</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center "><i
                                class="fa-brands pe-2 fa-git"></i>Css</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center"><i
                                class="fa-brands pe-2 fa-github"></i>Tailwind</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center"><i
                                class="fa-brands pe-2 fa-github"></i>Github</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center "><i
                                class="fa-brands pe-2 fa-bootstrap"></i>
                            Bootstrap</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center "><i
                                class="fa-brands pe-2 fa-sass"></i>Sass</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center"><i
                                class="fa-brands pe-2 fa-github"></i>jQuery</p>
                    </div>
                    <div class="col-4">
                        <p class="bg-skills text-center"><i
                                class="fa-brands pe-2 fa-github"></i>Html</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="navs-tabs mx-3 mb-4 ">
            <ul
                class="nav nav-tabs mb-3 nav-underline d-flex justify-content-around"
                id="myTab" role="tablist">
                <li class="nav-item " role="presentation">
                    <button class="nav-link active  " id="project-tab"
                        data-bs-toggle="tab" data-bs-target="#project-tab-pane"
                        type="button" role="tab"
                        aria-controls="project-tab-pane"
                        aria-selected="true">PROJECTS</button>
                </li>
                <li class="nav-item " role="presentation">
                    <button class="nav-link text-uppercase "
                        id="certifications-tab" data-bs-toggle="tab"
                        data-bs-target="#certifications-tab-pane" type="button"
                        role="tab" aria-controls="certifications-tab-pane"
                        aria-selected="false">Certifications</button>
                </li>
                <li class="nav-item " role="presentation">
                    <button class="nav-link" id="contact-tab"
                        data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                        type="button" role="tab"
                        aria-controls="contact-tab-pane"
                        aria-selected="false">CONTACT</button>
                </li>
            </ul>
            <div class="tab-content " id="myTabContent">
                <div class="tab-pane fade show active my-2 projects"
                    id="project-tab-pane" role="tabpanel"
                    aria-labelledby="project-tab" tabindex="0">
                    <div class="d-flex justify-content-between">
                        <div class="tabs-titles mb-3" @slideFadeDown>
                            <h2 class="text-white fw-bold">My Projects</h2>
                            <p class="text-second">I love building things. Here are a few of them.</p>
                        </div>
                        <p class="text-second cursor-pointer viewAll" routerLink="/projects">View All Project<i class="fa-solid fa-arrow-right ms-2"></i></p>
                    </div>
                    <div class="row g-5" @slideFadeUp>
                        <div class="col-md-6">
                            <div class="project overflow-hidden">
                                <div class="card" >
                                    <img src="../../../assets/globebuy.jpg" alt="" class="w-100">
                                    <!-- <iframe src="https://globebuy.vercel.app/home"  
                                    width="100%" height="200px"></iframe> -->
                                    <div class="card-body bg-black ">
                                        <h5 class="card-title text-white">GlobeBuy</h5>
                                        <p class="card-text">This is a dynamic and responsive front-end full e-commerce platform developed using Angular.</p>
                                        <div class="row g-1">
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0"> Angular</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0">TypeScript</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0 ">Bootstrap</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center  m-0">Sass</p>
                                            </div>
                                        </div>
                                        <div class="links d-flex gap-2 my-3 ">
                                            <a class="btn-main bg-red"
                                                href="https://globebuy.vercel.app/"
                                                target="_blank"><i
                                                    class="fa-solid fa-globe"></i>
                                                Website</a>
                                            <a class="btn-main bg-red"
                                                href="https://github.com/eslamzayed22/GlobeBuy"
                                                target="_blank"><i
                                                    class="fa-brands fa-github"></i> Source</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="project overflow-hidden">
                                <div class="card">
                                    <img src="../../../assets/yummy.jpg" alt="" class="w-100">
                                    <!-- <iframe
                                    src="https://eslamzayed22.github.io/Yummy/"
                                    width="100%" height="200px"></iframe> -->
                                    <div class="card-body bg-black">
                                        <h5 class="card-title text-white">Yummy</h5>
                                        <p class="card-text">"Yummy" is an online platform dedicated to sharing innovative and easy-to-follow recipes.</p>
                                        <div class="row g-1">
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0"> JavaScript</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0">Bootstrap</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center m-0 ">Html</p>
                                            </div>
                                            <div class="col-4">
                                                <p class="bg-skills text-center  m-0">Css</p>
                                            </div>
                                        </div>
                                        <div class="links d-flex  gap-2 my-3 ">
                                            <a class="btn-main bg-red"
                                                href="https://eslamzayed22.github.io/Yummy/"
                                                target="_blank"><i
                                                    class="fa-solid fa-globe"></i>
                                                Website</a>
                                            <a class="btn-main bg-red"
                                                href="https://github.com/eslamzayed22/Yummy"
                                                target="_blank"><i
                                                    class="fa-brands fa-github"></i> Source</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade my-5" id="certifications-tab-pane"
                    role="tabpanel" aria-labelledby="certifications-tab"
                    tabindex="0">
                    <div class="tabs-titles">
                        <h2 class="text-white fw-bold">My Certifications</h2>
                        <p class="text-second">Validates skills in building interactive web experiences with expertise in front-end languages and tools.</p>
                    </div>
                    <div class="row g-5">
                        <div class="col-md-6">
                            <div class="scale">
                                <div class="card" >
                                    <div class="img-certifcate">
                                        <img src="../../../assets/certicateRoute.jpg" class="w-100 h-100" alt="...">
                                    </div>
                                    <div class="card-body bg-main">
                                        <h5 class="card-title text-white fw-bolder">Route Academy</h5>
                                        <p class="text-second">Front-end web development with Angular framework</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="scale">
                                <div class="card" >
                                    <div class="img-certifcate">
                                        <img src="../../../assets/Certificate.png" class="w-100 h-100 " alt="...">
                                    </div>
                                    <div class="card-body bg-main">
                                        <h5 class="card-title text-white fw-bolder">Udacity (Itida)</h5>
                                        <p class="text-second">The web development challenger track</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade contact" id="contact-tab-pane" role="tabpanel"
                    aria-labelledby="contact-tab" tabindex="0">
                    <h3 class="text-white text-center mb-3">Get in Touch</h3>
                    <div class="row g-2 pb-5">
                        <div class="col-6">
                            <div class="d-flex align-items-center flex-column icon m-0">
                                <p class="text-second">Send me an Email</p>
                                <p class="text-second">eslamzayed765&#64;gmail.com</p>
                                <a href="mailto:eslamzayed765@gmail.com" target="_blank"><i class="fa-solid fa-envelope fs-1 ring-1"></i></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center flex-column icon m-0">
                                <p class="text-second">My Phone Number</p>
                                <p class="text-second">+201092059096</p>
                                <a href=""><i class="fa-solid fa-phone fs-1 ring-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>