<section class="projects">
    <div class="container my-5">
        <div class="d-flex justify-content-between">
            <div class="tabs-titles mb-3">
                <h2 class="text-white fw-bold">My Projects</h2>
                <p class="text-second">I love building things. Here are a few of them.</p>
            </div>
            <p class="text-second cursor-pointer viewAll" routerLink="/home">Back to Home<i class="fa-solid fa-arrow-right ms-2"></i></p>
        </div>
        <div class="row g-5">
        <div class="col-md-6">
            <div class="project overflow-hidden">
                <div class="card" >
                    <iframe src="https://globebuy.vercel.app/home"  
                    width="100%" height="200px"></iframe>
                    <div class="card-body bg-black ">
                        <h5 class="card-title text-white">GlobeBuy</h5>
                        <p class="card-text">This is a dynamic and responsive front-end e-commerce platform developed using Angular.</p>
                        <div class="row g-1">
                            <div class="col-4">
                                <p class="bg-skills text-center m-0"> Angular</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0">TypeScript</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0 ">Bootstrap</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center  m-0">Sass</p>
                            </div>
                        </div>
                        <div class="links d-flex gap-2 my-3 ">
                            <a class="btn-main bg-red"
                                href="https://shopify7.netlify.app/"
                                target="_blank"><i
                                    class="fa-solid fa-globe"></i>
                                Website</a>
                            <a class="btn-main bg-red"
                                href="https://github.com/eslamzayed22/Ecommerce"
                                target="_blank"><i
                                    class="fa-brands fa-github"></i> Source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project overflow-hidden">
                <div class="card">
                    <iframe
                    src="https://eslamzayed22.github.io/Yummy/"
                    width="100%" height="200px"></iframe>
                    <div class="card-body bg-black">
                        <h5 class="card-title text-white">Yummy</h5>
                        <p class="card-text">"Yummy" is an online platform dedicated to sharing innovative and easy-to-follow recipes.</p>
                        <div class="row g-1">
                            <div class="col-4">
                                <p class="bg-skills text-center m-0"> JavaScript</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0">Bootstrap</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0 ">Html</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center  m-0">Css</p>
                            </div>
                        </div>
                        <div class="links d-flex  gap-2 my-3 ">
                            <a class="btn-main bg-red"
                                href="https://eslamzayed22.github.io/Yummy/"
                                target="_blank"><i
                                    class="fa-solid fa-globe"></i>
                                Website</a>
                            <a class="btn-main bg-red"
                                href="https://github.com/eslamzayed22/Yummy"
                                target="_blank"><i
                                    class="fa-brands fa-github"></i> Source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project overflow-hidden">
                <div class="card">
                    <iframe
                    src="https://eslamzayed22.github.io/Daniels/"
                    width="100%" height="200px"></iframe>
                    <div class="card-body bg-black">
                        <h5 class="card-title text-white">Daniels</h5>
                        <p class="card-text">"Daniels" is an online platform dedicated to sharing innovative and easy-to-follow recipes.</p>
                        <div class="row g-1">
                            <div class="col-4">
                                <p class="bg-skills text-center m-0"> JavaScript</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0">Bootstrap</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0 ">Html</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center  m-0">Css</p>
                            </div>
                        </div>
                        <div class="links d-flex  gap-2 my-3 ">
                            <a class="btn-main bg-red"
                                href="https://eslamzayed22.github.io/Daniels/"
                                target="_blank"><i
                                    class="fa-solid fa-globe"></i>
                                Website</a>
                            <a class="btn-main bg-red"
                                href="https://github.com/eslamzayed22/Daniels"
                                target="_blank"><i
                                    class="fa-brands fa-github"></i> Source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="project overflow-hidden mb-4">
                <div class="card">
                    <iframe
                    src="https://eslamzayed22.github.io/Mealify/"
                    width="100%" height="200px"></iframe>
                    <div class="card-body bg-black">
                        <h5 class="card-title text-white">Mealify</h5>
                        <p class="card-text">"Mealify" is an online platform dedicated to sharing innovative and easy-to-follow recipes. </p>
                        <div class="row g-1">
                            <div class="col-4">
                                <p class="bg-skills text-center m-0"> JavaScript</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0">Bootstrap</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center m-0 ">Html</p>
                            </div>
                            <div class="col-4">
                                <p class="bg-skills text-center  m-0">Css</p>
                            </div>
                        </div>
                        <div class="links d-flex  gap-2 my-3 ">
                            <a class="btn-main bg-red"
                                href="https://eslamzayed22.github.io/Mealify/"
                                target="_blank"><i
                                    class="fa-solid fa-globe"></i>
                                Website</a>
                            <a class="btn-main bg-red"
                                href="https://github.com/eslamzayed22/Mealify"
                                target="_blank"><i
                                    class="fa-brands fa-github"></i> Source</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>